<div class="row">
    <div class="col-xs-9">
        <div class="header">
            <div class="pull-right player-imgs"><img ng-src="{{player.user | profilePicture}}" alt="" width="32" height="32" ng-style='{border-color: player.user.color}' ng-class='{gm: player.isGM}' class="img-circle" ng-repeat="player in vm.story.players"></div>
            <h1>{{vm.story.name}}</h1>
            <table class="table table-striped table-bordered">
                <tr ng-repeat='chapter in vm.chapters'>
                    <td><h3>{{chapter.name}}</h3>
                        {{chapter.intro}}
                    </td>
                    <td><button class="btn btn-success">PLAY</button></td>
                </tr>
                <tr>
                    <td lass='text-center'><h3 class="text-muted"><input class='form-control' ng-model="vm.new.name"></input></h3>
                    <input type="textarea" class="form-control" ng-model="vm.new.intro"/>
                    </td>
                    <td>
                        <button ng-click='vm.createNewChapter()' class="btn btn-success">CREATE</button>
                    </td>
                </tr>
            </table>
        </div></div>
    <div class="col-xs-3"></div>
</div>